@model TB.TokenService.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
     string invalidPasswordErrorMessage = null;
    if (!ViewContext.ModelState.IsValid && ViewContext.ModelState["Password"] != null)
    {
        invalidPasswordErrorMessage = string.Join("; ", ViewContext.ModelState["Password"].Errors.Select(sel => sel.ErrorMessage));
    }
}
    <div class="container transparent-background centered-content">
        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form" id="resetPwdForm">
            <div class="form-header">
                <h1>Reset password</h1>
                <span>Please enter a new password</span>
            </div>
            <input asp-for="Code" type="hidden" />
            <input asp-for="UserId" type="hidden" />
            <div class="form-content">

                <div class="input-field">
                    <label for="Password">Password</label>
                    <input asp-for="Password" class="form-input pull-left" required autocomplete="off" />
                    @*<div class="caps-lock-warning" style="visibility:hidden">@Localizer["CapsLock"]</div>*@
                    @if (invalidPasswordErrorMessage != null)
                    {
                        <span class="pull-left form-error">@invalidPasswordErrorMessage</span>
                    }
                </div>

                <div class="input-field">
                    <label for="ConfirmPassword">Confirm password</label>
                    <input asp-for="ConfirmPassword" class="form-input pull-left" required autocomplete="off" />

                    <span asp-validation-for="ConfirmPassword" class="form-error pull-left"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="form-error pull-left"></div>
                <span class="help-block">Password must contain....</span>

            </div>
            <div class="form-footer">
                <a class="action-button" asp-action="Login" asp-controller="Account">Back to login</a>
                <button type="submit" class="action-button main flex-pull-right">Reset</button>
            </div>
        </form>
    </div>

