
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}
    <div class="container">
        <div class="form-header center">
            <h1>Password reset </h1>
        </div>
        <div class="form-content center">
            <span>Your password has been changed</span>
            <a class="action-button" asp-action="Login" asp-controller="Account">Back to login</a>
        </div>
        <div></div>
    </div>

